@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
}

.nav__logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.nav__logo--title {
    color: #243e63;
    font-size: 24px;
    font-weight: bold;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link,
.nav__link--last {
    padding: 0 24px;
    text-decoration: none;
    color: #243e63;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .35px;
    transition: all 300ms ease;
    position: relative;

}

.nav__link:hover,
.nav__link--last:hover {
    color: #6415ff;
    text-decoration: underline;
}


.nav__link--last {
    padding-left: 48px;
}

.btn,
.header__email--button {
    background-color: #6415ff;
    color: white;
    border: none;
    border-radius: 9999px;
    padding: 10px 32px;
    line-height: 1.5;
    font-weight: bold;
    width: auto;
    transition: all 300ms ease;
    cursor: pointer;
}

.btn__nav {
    margin-left: 8px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.btn:hover {
    color: #8043fa;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

@media (max-width: 1024px) {
    .btn__menu {
        display: block;
    }
}

.purple {
    color: #6415ff
}

h1 {
    line-height: 1.25;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

h4 {
    letter-spacing: 1.6px;
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
}

.section__title {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
}

.section__description--title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

p{
    line-height: 1.25;
    color: #7c8ba1;
}


.container {
    padding: 80px 0;
}

/* HEADER */

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__description {
    width: 40%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 aut0;
}

.header__img--wrapper {
    width: 60%;
}


.header__img {
    width: 100%;
    height: 512px;
}

.header__title {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

.header__description--para {
    color:#243e63;
    margin: 32px 0;
    font-size: 18px;
}

.header__email {
    margin-bottom: 32px;
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--button {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    color: white;
    font-weight: 700px;
    font-size: 14px;
    transition: all 300ms;
}

.header__email--button:hover {
    background-color: rgb(60, 13, 153);
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid lightgray;
    color: solid lightgray;
    padding: 20px 192px 20px 32px;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top:0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__customers--title {
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700px;

}

.header__customers {
    display: flex;
    margin-top: 16px;
    width: 100%;
    opacity: 60%;
    padding-right: 128px;
}

/* FEATURES */

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.row__features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features__para {
    font-weight: 500;
    line-height: 1.625;
    font-size: 18px;
}
.features__img {
    color:#6415ff;
}

.feature__title {
    font-size: 24px;
    padding-left: 20px;
}

.features {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature__row {
    display: flex;
    align-items: flex-start;
    width: calc(100% / 3);
    padding: 32px 8px;
}

.figure__text {
    display: flex;
    flex-direction: column;
}

.features__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

.features__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

/* QUALITY */

#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quality__description {
    max-width: 576px;
    margin-right: 64px;
}

.quality__description,
.quality__img--wrapper {
    width: 50%;
}

.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid lightgray;
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}

.quality__img {
    z-index: 1;
    width: 100%;
}
.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: #6415ff;
    --tw-text-opacity: 1;
    z-index: 0;
    display: block;
}

.btn__quality {
    margin-top: 32px;
}

/* STEPS */

#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__img--wrapper {
    display: flex;
    position:relative;
}

.steps__img {
    z-index: 2;
    width: 100%;
}

.steps__grid {
    position: absolute;
    opacity: 0.15;
    right: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    fill: rgba(100, 21, 255);
    z-index: 1;
}

.steps__description {
    padding: 32px 0;
    padding-left: 64px;
}





.step {
    display: flex;
}

.step__description--wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.step__para {
    font-size: 14px;
    color: #718096;
    margin: 12px 0;
    line-height: 2;
}

/* VALUES */

#values .row {
    display: flex;
    align-items: center;
}

.values__description,
.values__img {
    width: 50%;
}

.value__img--wrapper1 {
    background-color: #9ae6b4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.value__img--wrapper2 {
    background-color: #FEB2b2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.fa-dollar-sign {
    color: solid darkgreen;
}

.fa-briefcase {
    color: #c94000;
}

.fa-solid {
    color: solid dark rgb(231, 37, 222);
}

.value__img--wrapper {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.values__list {
    display: flex;
    justify-content: space-between;
    padding: 36px 0;
}

.values__description {
    display: flex;
    flex-direction: column;
}

.value__title {
    display: flex;
    align-items: center;
}

.values__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value__img--wrapper {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}

.values__btn {
    width: 25%;
}

.value__1 {
    margin-right: 32px;
}

/* PRICING */

#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__para {
    max-width: 576px;
    text-align: center;
    margin-bottom: 36px;
    line-height: 1.5;
}

.plans {
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 100;
}

.plan {
    width: 100%;
    max-width: 384px;
    margin: 64px 32px 0 0;
    padding-top: 8px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    position: relative;
    z-index: 100;
    background: #fff;
}

.plan__2 {
    width: 100%;
    max-width: 384px;
    margin: 64px 32px 0 0;
    padding-top: 8px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    position: relative;
    z-index: 100;
    background: #fff;
}

.plan__top,
.plan__middle,
.plan__bottom,
.plan__middle--2,
.plan__top--2,
.plan__bottom--2 {
    padding: 32px;
    text-align: center;
}



.plan__stripe--1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
}

.plan__stripe--1,
.plan__button--1 {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__stripe--1,
.plan__stripe--3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
}

.plan__stripe--3 {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__button--2 {
    color: #6415ff;
    background-color: #f7fafc;
}

.plan__name,
.plan__target {
    font-size: 20px;
    color: #1a202c;
    font-weight: bold;
    line-height: 1.5;
}

.plan__target--2 {
    font-size: 20px;
    color: white;
    font-weight: bold;
    line-height: 1.5;
}

.plan__price {
    font-size: 48px;
    margin: 8px 0;
    line-height: 1.625;
    font-weight: bold;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

.plan__feature--2 {
    margin-top: 20px;
    font-weight: 500;
    color: white;
    font-size: 16px;
    line-height: 1.5;
}

.plan__duration {
    color: #a0aec0;
}

.plan__2 {
    border-radius: 4px;
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan__name--2,
.plan__price--2,
.plan__duration--2 {
    color: white;
}

.plan__name--2 {
    font-size: 20px;
    font-weight: bold;
}

.plan__price--2 {
    font-size: 48px;
    font-weight: bold;
    margin: 8px 0;
    line-height: 1.725;
}

.plan__top--3
.plan__top--2 {
    text-align: center;
    padding: 32px;
}

.plan__middle--2 {
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
    padding: 32px;
}

.plan__middle {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}

.plan__button--3 {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__button--1,
.plan__button--2,
.plan__button--3 {
    text-transform: uppercase;
    text-align: center;
    padding: 16px 32px;
    border-radius: 500px;
    border: none;
    font-size: 14px;
    width: 100%;
    max-width: 192px;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.5;
    transition: all 300ms;
    cursor: pointer;
}

.plan__bottom,
.plan__bottom--2,
.plan__bottom--3 {
    z-index: 10;
    position: relative;
}

/* TESTIMONIAL */

#testimonials .row {
    display: flex;
    justify-content: center;
}

.testimonials__img {
    width: 50%;
    padding-right: 64px;
}


.testimoials__description {
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}

.testimonial {
    margin-top: 40px;
}

.testimonial__rating {
    color: rgba(246, 173, 85);
    margin-right: 2px;
    margin-top: 4px;
}

.testimonial__title {
    margin-top: 16px;
}

.testimonial__title,
.testimonial__name {
    font-weight: 700;
    color: #243e63;
    font-size: 20px;
    line-height: 1.5;
}

.testimonial__para {
    margin: 16px 0px 40px 0;
    color: #4a5568;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
}
.testimonial__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 18px;
}

.testimonial__bottom {
    display: flex;
    justify-content: space-between;
}

.testimonial__profile {
    display: flex;
    align-items: center;
}

.testimonial__buttons {
    display: flex;
    align-items: center;
}

.testimonial__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 300ms;
    border: none;
    cursor: pointer;
}

.divider {
    width: 1px;
    height: 24px;
    background: rgb(229, 231, 235);
}

/* START */ 

.start__container {
    padding: 96px 0;
    width: 100%;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__row {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__row {
    display: flex;
    justify-content: center;
    width: 50%;
}


.start__btn--1 {
    background: #f56565;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-right: 32px;
    transition: all 300ms;
    padding: 16px 32px;
}

.start__btn--2 {
    border: 1px solid rgb(160, 174, 192);
    transition: all 300ms;
    padding: 16px 32px;
}

.start__title {
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
    width: 50%;
}


/* FOOTER */

footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
}

.footer__column--title {
    font-weight: 700;
    color: #f7fafc;
    line-height: 1.5;
    margin-bottom: 24px;
}

.footer__column--link {
    color: #f7fafc;
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.footer__column--link:hover {
    text-decoration: underline;
}

.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: rgb(116, 44, 255);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
    color: #cbd5e0;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__img {
    height: 32px;
    width: 32px;
}

.footer__socials {
    display: flex;
    justify-content: space-between;
}

.fa-brands {
    margin-left: 16px;
    color: #f7fafc;
}

/* MEDIA */

@media (max-width: 1024px) {
    .start__title {
        text-align: center;
        width: 100%;
        max-width: 512px;
    }
}

@media (max-width: 768px) {
    .footer__copyright, .footer__socials {
        margin-top: 32px;
    }
}

@media (max-width: 768px) {
    .footer__socials {
        margin-left: 0px;
    }
}

@media (max-width: 640px) {
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
}

@media (max-width: 1024px) {
    .nav__links {
        display: none;
    }
}

@media (max-width: 1024px) {
    .btn__nav {
        display: block;
    }
}

@media (max-width: 640px) {
    .container {
        padding: 80px 0;
    }
}

@media (max-width: 1024px) {
    header .row {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {
    .header__description {
        text-align: center;
        display: flex
;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1024px) {
    .header__description, .header__img--wrapper {
        width: 100%;
        max-width: 512px;
        margin: 0 auto;
    }
}

@media (max-width: 1024px) {
    h1 {
        font-size: 30px;
    }
}

@media (max-width: 1280px) {
    h1 {
        font-size: 36px;
    }
}

@media (max-width: 1024px) {
    .header__description--para {
        margin: 20px 0;
    }
}

@media (max-width: 1280px) {
    .header__description--para {
        font-size: 16px;
    }
}

@media (max-width: 640px) {
    .header__email {
        flex-direction: column;
        height: auto;
    }
}

@media (max-width: 640px) {
    .header__email--btn {
        width: 100%;
        padding: 16px 0;
        margin: 16px 0;
        margin-bottom: 0px;
        line-height: 1.5;
    }
}

@media (max-width: 640px) {
    .header__customers--title {
        font-size: 14px;
        letter-spacing: 0.05em;
    }
}

@media (max-width: 1024px) {
    .header__customers--title, .header__img--wrapper {
        margin-top: 48px;
    }
}

@media (max-width: 1024px) {
    .header__description, .header__img--wrapper {
        width: 100%;
        max-width: 512px;
        margin: 0 auto;
    }
}

@media (max-width: 1280px) {
    .header__img--wrapper {
        display: flex
;
        justify-content: flex-end;
    }
}

@media (max-width: 640px) {
    main {
        margin-bottom: 80px;
    }
}

@media (max-width: 640px) {
    #features .section__title, #pricing .section__title {
        font-size: 36px;
    }
}

@media (max-width: 1024px) {
    #features .section__title, #pricing .section__title {
        font-size: 48px;
    }
}


@media (max-width: 640px) {
    .section__title {
        font-size: 30px;
    }
}

@media (max-width: 640px) {
    .section__title {
        line-height: 1.25;
    }
}

@media (max-width: 1024px) {
    .section__title {
        font-size: 36px;
    }
}

@media (max-width: 1024px) {
    .section__para {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .section__para {
        font-size: 14px;
    }
}

@media (max-width: 1024px) {
    .features {
        max-width: 768px;
    }
}

@media (max-width: 768px) {
    .features {
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .feature {
        width: calc(50%);
    }
}

@media (max-width: 768px) {
    .feature {
        width: auto;
        max-width: 384px;
    }
}

@media (max-width: 768px) {
    #quality .row, #values .row {
        flex-direction: column-reverse;
    }
}

@media (max-width: 768px) {
    .quality__description, .quality__img--wrapper, .steps__description, .steps__img--wrapper, .values__description, .values__img, .testimonials__description, .testimonials__img {
        width: 100%;
        max-width: 448px;
    }
}

@media (max-width: 768px) {
    .quality__description, .steps__description, .values__description, .testimonials__description {
        padding: 0;
        margin-top: 64px;
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .quality__description {
        margin-right: 0px;
        padding-right: 48px;
    }
}

@media (max-width: 768px) {
    #steps .row, #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    #pricing .row {
        margin-top: 40px;
    }
}

@media (max-width: 640px) {
    #features .section__title, #pricing .section__title {
        font-size: 36px;
    }
}

@media (max-width: 1024px) {
    #features .section__title, #pricing .section__title {
        font-size: 48px;
    }
}

@media (max-width: 1024px) {
    .plans {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    #steps .row, #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1024px) {
    footer {
        padding: 80px 32px;
    }
}

@media (max-width: 640px) {
    .footer__columns {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .footer__columns {
        justify-content: flex-start;
    }
}

@media (max-width: 640px) {
    .footer__column {
        width: auto;
        padding: 0 16px;
        text-align: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .footer__column {
        width: calc(100% / 3);
    }
}

@media (max-width: 768px) {
    .footer__bottom {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 640px) {
    .footer__copyright {
        font-size: 14px;
        text-align: center;
        line-height: 1.5;
    }
}

@media (max-width: 768px) {
    .footer__copyright, .footer__socials {
        margin-top: 32px;
    }
}

@media (max-width: 768px) {
    .footer__socials {
        margin-left: 0px;
    }
}

@media (max-width: 768px) {
    .footer__copyright, .footer__socials {
        margin-top: 32px;
    }
}

@media (max-width: 640px) {
    .start__container {
        padding: 80px 0;
    }
}